nav{
padding-top: 20px;
padding-bottom: 20px;

}

.conteiner{
margin-right: auto;
margin-left: auto;
width: 1180px;

}


.logo_link{
display: inline-block;

}


nav .conteiner a svg{
	width: 100px;
	height: 55px;
}