@font-face {
	font-family: 'robotoRegular';
	src: url(../fonts/Roboto-Regular.ttf); 
}

.clearfix:after{
	content: "";
	display: block;
	clear: both;
}

nav{
	padding-top: 20px;
	padding-bottom: 20px;

}

nav .conteiner{
	margin-right: auto;
	margin-left: auto;
	width: 1180px;

}


.logo_link{
	display: inline-block;

}


nav .conteiner a svg{
	width: 100px;
	height: 55px;
	vertical-align: middle;
}

.topMenu{
	vertical-align: middle;
	display: inline-block;
}

.topMenu ul{
	text-transform: uppercase;
	margin-left: 100px;
	color: #3d58a6;
	font-size: 16px;
}

.topMenu ul li{

	display: inline-block;
	vertical-align: middle;
	padding-left: 15px;
	padding-right: 15px;
}

.topMenu ul li a{
	text-decoration: none;
	font-family: "robotoRegular";
}


.socialIcon{
	font-size: 0px;
	/*background: red;*/
	width: 346px;
	height: 30px;
	vertical-align: middle;
	display: inline-block;
	margin-left: 281px;
}

.socialIcon div{
	width: 85px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	font-size: 0px;
}

.socialIcon .line{
	width: 2px;
	height: 30px;
	background-color: #3D58A6;
	display: inline-block;
}

.google svg{
	height: 30px;
	fill: #3D58A6;
}

.facebook svg{
	height: 30px;
	fill: #3D58A6;
	margin-left: 35px;
}
.youtube svg{
	height: 30px;
	fill: #3D58A6;
	margin-left: 30px
}
.search1 svg{
	height: 40px;
	margin-left: 30px;

}



.banner {
	background: #E6E6E6;
	padding-top: 30px;
	padding-bottom: 30px;

}

.banner .conteiner{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 1180px;

}

.banner .conteiner img {
	position: relative;
	width: 1180px;
}
.banner  .html-svg{
	position: absolute;
	right: 30px;
	bottom: 30px;
}
.banner  .html-svg img{
	width: 100px;
}

.banner-text{
	position: absolute;
	bottom: 30px;
	left: 30px;
	text-transform: uppercase;
	font-size: 21px;
    text-decoration: none;
	font-family: "robotoRegular";
	color: #E6E6E6;
}
.blue-box{
	background-color: #363E97;
    padding-bottom: 90px;
}
.blue-box .conteiner{

	width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

.blue-box .conteiner h1{
	padding: 30px 0;
	font-family: "robotoRegular";
	color: #E6E6E6;
	text-transform: uppercase;
}
.blue-box .conteiner h1 a{
	margin-left: 10px;
	font-family: "robotoRegular";
	color: #E6E6E6;
	text-decoration: none;
	text-transform: lowercase;
}

.part-video{
	width: 570px;
    height: 320px;
    background-color: #F2F2F2;
}
.left{
	float: left;
}

.right
{
	float: right;
}